/*

using the BEM system 
Block
Element 
sub element 

block name __ element name

mobile styling first - media queries for larger screens
responsive breakpoints  device widths

to be used when necessary 
768px ipad portrait 
1024px ipad landscape 

flex for 1 dimensional layouts mobile/desktop etc in one direction row and columns.
https://css-tricks.com/snippets/css/a-guide-to-flexbox/

for 2 dimensional layouts use grid for rows and columns

Rachel Andrew - Grid by example https://gridbyexample.com/
Mdn   display properties - block, inline-block 
what are they for...
when do we use them ...
*/

.Card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /* display: grid;
    grid-template-rows: repeat(auto-fill, minmax(19rem 1fr)) */
}

.Card {
  flex: 1 0 100%;
  /* display: inline-block;     */
  width: 370px;
  /* width: calc(60% - 20px); */
  height: 360px;
  position: relative;
  /* justify-content: space-evenly; */
  /* margin: 30px 0px; */

  margin: 10px 0;
  /* width: calc((100% / 3) - 30px); */
  /* transition: all 0.2s ease-in-out; */

  /* flex: 1 0 100%;
    box-sizing: border-box; */
  /* margin: 1rem .25em; */
}

.Card__image {
  width: 100%;
  height: 100%;
  /* cannot use % use px wit cover */
  object-fit: cover;
  /* object-position: 0 0; */
  /* filter: grayscale(80%); */
  /* filter:  grayscale(80%) brightness(120%);  */
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  /* border-radius: 50%; */
  /* border: 0.4px solid #585858; */
  box-shadow: var(--box-shadow-1);
}

.Card__header {
  font-family: var(--font-family-2);
  font-size: var(--font-size-3);
  color: var(--font-color-2);
  background-color: var(--background-4);
  font-weight: var(--font-weight-3);
  padding: 10px auto;
  margin: 0px 0px 30px 2px;
  position: absolute;
  bottom: 120px;
  left: 3px;
  /* border: 10px solid pink;  */
}

.Card__ul {
  position: absolute;
  bottom: 70px;
  left: px;
}

.Card__icon {
  /* text-align: right; */
  margin: 50px 7px 0 0;
  /* display: flex; */
  align-items: center;
  justify-content: center;

  background-color: var(--background-3);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  /* padding: 7px; */
  box-shadow: var(--box-shadow-1);
}

/* .Card__description-wrapper {
    widows: 100%;
    justify-content: right;
} */

.Card__description {
  /* display: inline-flex; */
  /* position: relative; */
  box-sizing: border-box;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  width: 90%;

  /* margin: 0 105px; */
  text-align: right;
  font-family: var(--font-family-2);
  font-size: var(--font-size-4);
  color: var(--font-color-3);
  background-color: var(--background-3);

  position: absolute;
  /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap; */
  height: 20%;

  padding: 8px;
  bottom: 0;
}

.Line {
  height: 2px;
  width: 100px;
  /* background-color: var(--accent-3); */
  background-color: pink;
  margin: 0 auto;
}

/* MEDIA  -------------------------------------------- */

/* ipad landscape 320 */

@media screen and (min-width: 320px) {
  .Card {
    max-width: 100%;
    max-height: 700px;
    margin: 40px 0;
    /* flex-wrap: wrap; */
  }
  .Card__description {
    margin: 0px 0px -50px 0px;
    width: 100%;
    height: auto;
    transition: all 0.35s ease-in-out;
  }
}
/* ipad landscape 1024 */
/* ipad portrait 768 */
@media screen and (min-width: 768px) {
  .Card {
    max-width: 50%;
    max-height: 700px;
    margin: 10px 0;
    /* flex-wrap: wrap; */
  }
  .Card__description {
    margin: 0px 0px 20px 350px;
    width: 80%;
    height: auto;
  }
}


@media screen and (min-width: 1024px) {
  .Card {
    max-width: 50%;
    max-height: 700px;
    margin: 10px 0;
    /* flex-wrap: wrap; */
  }
  .Card__description {
    margin: 0px 0px 20px 550px;
    width: 80%;
    height: auto;
  }
}

/* flex reference  https://www.w3schools.com/cssref/tryit.asp?filename=trycss_text-align 

flex references https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container 

https://www.youtube.com/watch?v=4KxHcbQ8GYQ&t=634s&ab_channel=AngelaDelise
*/
