/*

using the BEM system 
Block
Element 
sub element 

block name __ element name

mobile styling first - media queries for larger screens
responsive breakpoints  device widths

to be used when necessary 
768px ipad portrait 
1024px ipad landscape 

flex for 1 dimensional layouts mobile/desktop etc in one direction row and columns.
https://css-tricks.com/snippets/css/a-guide-to-flexbox/

for 2 dimensional layouts use grid for rows and columns

Rachel Andrew - Grid by example https://gridbyexample.com/
Mdn   display properties - block, inline-block 
what are they for...
when do we use them ...
*/



/* body {
    font-family: var(--font-family-2);
    align-items: center;
    justify-content: center;
} */


.Card {
    /* display: inline-block;     */
    /* width: 370px; */
    width: calc(50% - 20px);
    height: 350px;
    position: relative;
    justify-content: space-evenly;
    margin: 30px 0px;
}

/* container 
align-self: flex-end; */

.Card__ul {
    position: absolute; 
    bottom: 100px;
    right:10px;
}

.Card__image {
    width: 100%;
    height: 100%; /* cannot use % use px wit cover */
    object-fit: cover;
    /* object-position: 0 0; */
    /* filter: grayscale(80%); */
    /* filter:  grayscale(80%) brightness(120%);  */
    z-index: -1; 
    position: absolute;
    top:0;
    left:0;
    /* border-radius: 50%; */
    /* border: 0.4px solid #585858; */
    box-shadow: var(--box-shadow-1);
}


.Card__header {
    font-family: var(--font-family-2);
    font-size: var(--font-size-3);
    color: var(--font-color-2);
    background-color: var(--background-4);
    font-weight: var(--font-weight-3);
    padding: 10px auto;
    margin: 0px 0px -10px 0px;
    position: absolute;
    bottom: 100px;
    left: 10px;    
    /* border: 10px solid pink;  */

}



.Card__icon {
    /* text-align: right; */
    margin: -50% 7px 0 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;

    background-color: var(--background-3);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    /* padding: 7px; */
    box-shadow: var(--box-shadow-1);
}

.Card__description {
    display: inline-flex;
    /* position: relative; */
    box-sizing: border-box;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 150%;
   
    margin-top: 0 0;
    text-align: justify;
    font-family: var(--font-family-2);
    font-size: var(--font-size-4);
    color: var(--font-color-3);
    background-color: var(--background-3);
    
    position: absolute;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:pre-wrap;
    /* height: 100px; */
    margin:0;
    padding: 12px;
    bottom: 0;
}


.Line {
    height: 2px;
    width: 100px;
    /* background-color: var(--accent-3); */
    background-color: pink;
    margin: 0 auto;
}

/* flex reference  https://www.w3schools.com/cssref/tryit.asp?filename=trycss_text-align 

flex references https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container 

https://www.youtube.com/watch?v=4KxHcbQ8GYQ&t=634s&ab_channel=AngelaDelise
*/