.Home__header {
    color: var(--font-color-2);
    font-family: var(--font-family-2);
    padding: 0 auto;
    margin: 0px 0px -10px 0px;
    /* position: relative; 
    bottom: 100px;
    left: 10px; */
} 
