/* icons
display: inline;
font-family: design_museum_icons;
speak: none;
font-style: normal;
font-weight: 400;
font-variant: normal;
text-transform: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
position: relative;
top: 1px; */

/* <div class="sharing">
      <a href="http://facebook.com/designmuseum" onclick="trackOutboundLink('http://facebook.com/designmuseum')" target="_blank" class="icon-facebook"></a>
      <a href="http://twitter.com/DesignMuseum" onclick="trackOutboundLink('http://twitter.com/DesignMuseum')" target="_blank" class="icon-twitter"></a>
      <a href="http://vimeo.com/designmuseum" onclick="trackOutboundLink('http://vimeo.com/designmuseum')" target="_blank" class="icon-vimeo"></a>
      <a href="http://pinterest.com/designmuseum" onclick="trackOutboundLink('http://pinterest.com/designmuseum')" target="_blank" class="icon-pinterest"></a>
      <a href="http://instagram.com/designmuseum" onclick="trackOutboundLink('http://instagram.com/designmuseum')" target="_blank" class="icon-instagram"></a>
    </div> */