/* .Header__navbar */
header {
  font: var(--font-family-2);
  font-weight: var(--font-weight-3);
  position: sticky;
  top: 0;
  height: 70px;

  background: var(--background-2);
  image-rendering: pixelated;  
  /* Anti-aliasing use even numbers  */
  background-size: 4px 4px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-shadow: var(--box-shadow-2);
  z-index: 10;
  
}

/* spacing desktop links */
/* .Header__navbar-desktop-links */
.Header__navbar-desktopLinks {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header__navbar-logo {
  background-color: var(--background-3);
  width: 50px;
  height: 50px;
  padding:5px;
  border-radius: 50%;
  padding: 7px;
  box-shadow: var(--box-shadow-1);
  /* border: 1px solid var(--accent-6); */
  z-index: 100;  
}

.Header__navbar-logo:hover {
  background-color: var(--background-4);
  border-radius: 50%;
  box-shadow: var(--box-shadow-1); 
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out; 
}

.Header__navbar-hamburger-btn {
  font-size: var(--font-size-2);
  position: absolute;
  bottom: 10px;
  width: 50px;
  height: 50px;
  right: 30px;
  outline: none;
  background-color: inherit;
  color: var(--font-color-2);
  border: none;
}

.Header__navbar-hamburger-btn:hover {
  background-color: var(--accent-2);
  border-radius: 8%;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Add transition for movement in the X direction */
.addTransition {
  transform: translateX(300px);
  transition: transform 0.5s ease-in-out;
}

/* Remove transition for movement in the X direction */
.removeTransition {
  transform: translateX(20px);
  transition: transform 0.5s ease-in-out;
}

/* Mobile navigation -------------------------------------------------- */

#Navbar__mobile-container {
  background: var(--background-2);
  height: 100vh;
  width: 300px;
  position: absolute;
  z-index: 2000;
  right: 0;
  top: 0;
  margin-top: 70px;
}

.Mobile__container-links-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  margin: auto;
  height: 50%;
  margin-top: 50px;
  width: 90%;
}

.Mobile__container-links {
  cursor: pointer;
  color: var(--font-color-1);
  font-size: var(--font-size-3);
  border: 2px solid var(--accent-5);
  font-family: var(--font-family-2);
  font-weight: var(--font-weight-2);
  padding: 10px;
  margin: 0px 10% 0px 0px;

}

.Mobile__container-links:hover {
  color: var(--font-color-2);
  background-color: var(--accent-4);
  padding: 10px;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* Desktop navigation -------------------------------------------------- */
.Header__navbar-desktop-container  {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 50%;
  /* font-weight: bold; */
}

.Header__navbar-desktop-links  {
  cursor: pointer;
  color: var(--font-color-1);
  font-size: var(--font-size-3);
  /* border: 2px solid var(--accent-5); */
  font-family: var(--font-family-2);
  font-weight: var(--font-weight-2);
  text-decoration: none ;
  padding: 5px;
  width: 150px;  
}

.Header__navbar-desktop-links:hover {
  color: var(--font-color-2);
  background-color: var(--accent-4);
  padding: 5px;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

