/* navbar- header */
body {
  font: var(--font-family-2);


}

header {
  position: sticky;
  top: 0;
  height: 70px;

  background: var(--background-2);
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-shadow: var(--box-shadow-1);
  z-index:1;
}

/* spacing desktop links */
.header-inner {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo -------------------------------------------*/
/* .logo {
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--font-color-2);
  margin: 2vh 0vh 2vh 0vh;
  padding: 2px;
} */



.Logo__icon {
  /* text-align: right; */
  /* margin: 20px 7px; */
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;

  /* background-color: var(--background-3); */
  width: 50px;
  height: 50px;
  padding:5px;
  border-radius: 50%;
  display: inline-flex;
  /* padding: 7px; */
  box-shadow: var(--box-shadow-1);
  z-index:10000;
}


.logo:hover {
  color: var(--font-color-2);
  background-color: var(--accent-4);
  padding: 2px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}


.hamburger-btn {
  font-size: var(--font-size-3);
  position: absolute;
  bottom: 20px;
  width: 40px;
  height: 35px;
  right: 30px;
  outline: none;
  background-color: inherit;
  color: var(--font-color-2);
  border: none;
  /* padding: 4px; */

}

.hamburger-btn:hover {
  /* color: var(--font-color-2); */
  background-color: var(--accent-4);
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.addTransition {
  transform: translateX(180px);
  transition: transform 0.5s ease-in-out;
}

.removeTransition {
  transform: translateX(20px);
  transition: transform 0.5s ease-in-out;
}

/* navbar ------------------------------------------*/
/* inner list  - inner panel  */
#sidebar-list {
  background: var(--background-2);
  height: 100vh;
  width: 180px;
  position: absolute;
  z-index: 2000;
  right: 0;
  top: 0;
  margin-top: 70px;
}

/* container outer links */
.nav-big {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-weight: bold;
  /* border: 10px solid green; */
}

/* outer links - around text */
.nav-big-link {
  cursor: pointer;
  color: var(--font-color-2);
  text-decoration: none !important;
  padding: 5px;
  width: 150px;
  /* border: 5px solid pink; */
}

.nav-big-link:hover {
  color: var(--font-color-2);
  background-color: var(--accent-4);
  padding: 5px;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* container - inner links */
.nav-small {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  margin: auto;
  height: 40%;
  margin-top: 50px;
  width: 80%;
  /* border: 10px solid yellow; */
}

/*  inner links  - around text */
.nav-small-link {
  cursor: pointer;
  color: var(--font-color-2);
  padding: 10px;
  margin: 0px 10% 0px 0px;
  font: var(--font-size-1);
  border: 5px solid pink;
}

.nav-small-link:hover {
  color: var(--font-color-2);
  background-color: var(--accent-4);
  padding: 10px;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}