/* Global reset */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-1: #ffff;
  --background-2: url(./components/img/grid.png) #e8e316cc;
  --background-3: #e8e316cc;
  --background-4: #fb00ff99;
  --background-5: url(./components/img/grid.png),linear-gradient(to bottom,#c4c4c4 0,#fff 100%);

  --accent-1: #e8e316cc;
  --accent-2: #fb00ff99;
  --accent-3: #adff2f;
  --accent-4: #545455; 
  --accent-5: #ffff;
  --accent-6: #9c9c9c; 

  /* font */
  --font-family-1: 'Roboto condensed', monospace;
  --font-family-2: "DM Sans", sans-serif;
  
  --font-size-1: 55px;
  --font-size-2: 34px;
  --font-size-3: 22px;
  --font-size-4: 16px;
  --font-size-5: 12px;  

  --font-weight-1:800;
  --font-weight-2:600;
  --font-weight-3:400;

  --font-color-1: #545455;
  --font-color-2: #ffff;
  --font-color-3: #000;
  --font-color-4: #8e8e8f;
  

  /* styling */
  --box-shadow-1: 1px 1px 1px 1px #88848433;
  --box-shadow-2: 0 12px 12px var(var(--accent-3));
  --box-shadow-3: 0 0 6px #fb00ff99; 


  /* Border */
  --border-color-1: #888787;
  /* --border-color-2: #fecacc; */

  --border-style-1: 4px dotted #fecacc;
  --border-radius-1: 20px; 
  --border-radius-2: 3px;


  
}

html{
  overflow-x:hidden;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

body {
  font: var(--font-family-2);

  text-align: center;
  display: inline-flex;
  flex-direction: column;
  border-radius: var(--border-radius-1);
}

