/* body {
  padding: 0rem 1rem 0rem 1rem ;
  font: var(--font-primary);

  text-align: center;
  display: flex;
  flex-direction: column;
  /* border *
  margin: 30px 10% 10px 10%;  
  border: var(--border-style-1);
  border-radius: var(--border-radius-1);
  border-color: var(--border-color-1);
  
}  */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* * {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */
/* html,
body {
  width: 100%;
  min-height: 100%;
  /* font: var(--font-primary); 
} */

/*

/* sections ----------------------------------------- 
section,
footer {
  display: flex;
  justify-content: center;
 
  /* font-size: 3rem; 
}*/
/* section heights  for development ------------------- 
section {
  height: 100vh; 
  color: rosybrown; 
  border: 10px solid green;
}

*/


 
 


